.SignInScreen{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .Authentication {
    width: 50%;
  }

  .Typing {
    color: white;
    width: 30%;
    font-size: 2rem;
  }

  @media (max-width: 700px) {
    .SignInScreen{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Typing {
        display: none;
    }

    .Authentication {
        width: 90%;
      }
  }